[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/php-syntax"]
	path = bundle/php-syntax
	url = git://github.com/StanAngeloff/php.vim.git
[submodule "bundle/dbgpavim"]
	path = bundle/dbgpavim
	url = git://github.com/brookhong/DBGPavim.git
